/* MAIN PAGE FORMATTING */
body {
    background: #fff;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
section {
    margin-bottom: 2rem;
}
body.night-mode {
    background: #222;
    color: #f5f5f5;
}
.page {
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    flex-direction: row; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%; /* Occupy the full viewport width */
    /* padding-left: 5%; */
}
#contacts-container, #about-me-container{
    width: 80vw;
    padding-left: 10%;
    padding-right: 10%;
}
.main-content {
    padding-left: 100px;
    padding-top: 100px; /* Adjust this value to leave space for the navbar */
    min-height: calc(100% - 100px); /* Adjust this value to account for the navbar and contact bar */
}
.keyword {
    color:rgb(137, 42, 67)
}
/* scroll button styling */
.scroll-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scroll-button:hover {
    background-color: #222;
}










/* NAV BAR FORMATTING */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0); /* Transparent background initially */
    overflow: hidden;
    z-index: 2;
    transition: background-color 0.5s ease; /* Transition for background color */
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}







/* INTRO PAGE FORMATTING */
.intro {
    background-image: url("../icons/lahore.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex; /* Use flexbox to center content */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    
}
.intro p, .intro h2 {
    z-index: 1;
    color: white; /* Set the text color to be visible on the background */
    position: relative;
    left: 30%;
}
.intro::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Place the overlay above the background image */
}









/* ABOUT ME FORMATTING */
.about-me-image{
    width: 45%;
    height: 54%;
    display: inline-block; /* Ensures the frame wraps the image */
    padding: 10px; /* Adjust the padding to control the frame size */
    border: 2px solid #000; /* Border color and thickness */
    border-radius: 10px; /* Rounded corners for a frame effect */
    margin-right: 10px;
}
.about-me h2 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.icons{
    display: flex;
    flex-direction: row;
}
.icons a {
    padding: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #000; /* Border color and thickness */
    border-radius: 40px; /* Rounded corners for a frame effect */
    margin-right: 10px;
}
.icons a img {
    width: 100%;
    height: 100%;
}








/* PROJECTS FORMATTING */
#projects-container{
    background-color: black;
    white-space: nowrap;
}
.project-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: opacity 0.5s ease;
    animation: scrollProjects 5s linear infinite; /* Adjust the animation duration as needed */
    overflow-x: hidden;
}
.project-title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    opacity: 1.0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project-card {
    background-color: gray;
    color: white;
    height: 45vh;
    width: 25vw;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-wrap:wrap;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 3s ease;
    /* transition: background-color 0.5s ease, color 0.5s ease; */
}
.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: scroll;
    box-sizing: border-box;
}
.card-text {
    color: grey;
    position: absolute;
    bottom: 0; /* Position at the bottom of the project card */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
    text-align: left; /* Center-align the text */
    display: flex;
    flex-direction: column;
    font-style: italic;
}
.card-info-container{
    display: flex;
    justify-content: space-between;
}
.link-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.link-list a {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}
.project-card:hover .project-description {
    transform: translateY(0);
}
.project-card:hover .project-title {
    transform: translateY(-100%);
}
.project-description-hover {
    cursor: pointer;
}
.project-description-hover:hover + .project-link {
    display: inline;
}
@keyframes scrollProjects {
    0% {
        transform: translateX(0); /* Start with cards already onscreen (no translation) */
    }
    100% {
        transform: translateX(calc(-40vw - 20px)); /* Move off-screen to the left and repeat */
    }
}






/* SKILL LIST FORMATTING */

.about-me, .skills{
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 5px;
    width: 45%;
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}
.skill-list p {
    background: #eee;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #333; /* Set the text color as black */
}









/* CONTACT PAGE FORMATTING */
#contacts-container{
    display: flex;
    flex-direction: column;
}
.contact-form , .contact-info {
    margin-bottom: 30px;
    width: 100%;
}
.contact-info-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}
h2 {
    font-size: 24px;
    margin: 0;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    border-color:#222;
    background-color: #000;
}

button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

button[type="submit"]:hover {
    background-color: #555;
}





.footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}










/* MOBILR VIEW FORMATTING */
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 7%;
    }
    .navbar a{
        font-size: 18px;
    }
    #about-me-container{
        flex-direction: column;
    }
    .main-content{
        padding-left: 10%;
        padding-right: 10%;
        top:-100px;
    }
    .project-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        animation: none;
    }
    .project-card{
        width: 100%;
        height: 500px;
    }
    .projects, .contact-info, .contact-form{
        width: 55%;
    }
    .contact-bar.night-mode {
        background-color: rgba(30, 30, 30, 1);
        color: #f2f2f2;
    }
}


/* MOBILE VIEW FORMATTING */
@media screen and (max-width: 600px) {
    .night-mode #about-me-container {
        background-color: #222,
    } 
    .night-mode .page{
        background-color: #333;
    }
    .night-mode .project-card{
        background-color: rgba(230, 230, 230, 1);
    }
    .night-mode .about-me, .skills{
        background: #000;
    }
    
    .contact-bar{
        bottom: 0;
    }
    .skill-list p {
        width: 80%;
    }
    .contact-bar a {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .contact-bar{
        z-index: 1;
    }
    .project-card {
        height: 600px;
    }
    .contact-info-list, #about-me-container, .project-grid{
        flex-direction: column;
    }
    .projects, .contact-info, .contact-form, .about-me-image,.about-me{
        width: 70%;
    }
    .project-grid{
        animation: none;
    }
    .project-card{
        width: 100%;
    }
    .navbar a{
        font-size: 12px;
    }
    .intro p, .intro h2 {
        left: 10%;
    }
    
}











.about-me.night-mode, .skills.night-mode, .projects.night-mode{
    background: black;
    padding: 2rem;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.night-mode-container {
    text-align: center;
    margin-bottom: 2rem;
}
.night_mode {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.night_mode:hover {
    background-color: #222;
}
.night-mode .project-grid {
    opacity: 0.5;
}
.night-mode .project-title {
    background-color: rgba(55, 55, 55, 0.1);
    color: white;
}
.night-mode .project-card {
    background-color: rgba(55, 55, 55, 1);
    color: white;
}
.night-mode .skill-list p {
    color: #000; /* Set the text color as black in night mode */
}
.contact-bar.night-mode {
    background-color: rgba(55, 55, 55, 0.1);
    color: #f2f2f2;
}
.link-list a.night-mode {
    background-color: #555;
    color: white;
}

.link-list a.night-mode:hover {
    background-color: #fff;
    color: #222;
}
